body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(44, 47, 51, 0.85); /* Dark transparent background */
    color: #ffffff;
}

h1, h2, h3 {
    color: #7fdbff; /* Color celeste mate */
}

.navbar-dark .navbar-brand, .navbar-dark .nav-link {
    color: #7fdbff;
}

.navbar-dark .nav-link.active {
    color: #ffffff;
}

.section {
    padding: 50px 0;
}

.bg-primary {
    background-color: #23272a !important;
}

.bg-light {
    background-color: #99aab5 !important;
}

.text-light {
    color: #ffffff !important;
}

.text-dark {
    color: #2c2f33 !important;
}

.text-center {
    text-align: center;
}

.linkedin-logo {
    width: 24px;
    height: 24px;
}

footer {
    background-color: rgba(35, 39, 42, 0.85); /* Transparent dark background for footer */
    color: #ffffff; /* Texto blanco */
    padding-top: 15px;
    padding-bottom: 15px;
}

footer p {
    margin: 0;
}

#portfolio img {
    height: 200px;
    object-fit: cover; /* Ensures the image fits within the card */
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
    color: #6c757d;
}
